/* Fonts */
@font-face {
    font-family: MontBold;
    src: url('../fonts/Montserrat/static/Montserrat-Bold.ttf');
}

@font-face {
    font-family: MontRegular;
    src: url('../fonts/Montserrat/static/Montserrat-Regular.ttf');
}

:root {
    /* colors */
    --purple: #7e15e3;
    --dark: #212529;
    --orange: #f84234;
}

* {
    box-sizing: border-box;
}

body {
    font-family: MontRegular, 'sans-serif';
}

h1, h2, h3, h4, h5, h6 {
    font-family: MontBold, 'sans-serif';
}

img {
    max-width: 100%;
    height: auto;
}

.section {
    padding: 60px 0;
}

.section h2 {
    padding-bottom: 30px;
}

.bold {
    font-family: MontBold, 'sans-serif';
}

.text-orange {
    color: var(--orange);
}

/* buttons */
.btn-orange {
    background: var(--orange) !important;
    border-color: var(--orange) !important;
    border-radius: 20px;
    color: #fff !important;
    padding: 8px 22px !important;
}

.btn-orange:hover {
    opacity: .8;
}

.btn-black:hover {
    background: var(--orange);
    color: #fff;
    opacity: .8;
}

/* Navigation */
.navbar {
    margin-top: 25px;
}

.navbar-brand {
    font-family: MontBold;
    font-size: 1.5em;
}

.nav-link {
    font-weight: 600;
    font-size: .9em;
}

.navbar .nav-auth .nav-link:first-child::after {
    content: '';
    border: 1px solid rgba(55, 55, 55, 0.536);
    display: inline-block;
    height: 20px;
    width: 1px;
    vertical-align: middle;
    margin-left: 8px;
    margin-right: 5px;
}

/* Banner */
.banner-title {
    width: 450px;
    font-weight: 700;
    padding-top: 60px;
    margin-bottom: 30px;
}

/* Vehicle section */
.vehicle-section .card {
    background: #f3f1f1;
    border: none;
}

/* Gallery */
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.gallery-item {
    flex-basis: 15%;
    cursor: pointer;
}

.gallery-item p {
    font-weight: 600;
}

.gallery-container img {
    width: 70px;
}

.gallery-container .img-container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* About Section */
.attachment {
    background-image: url('../media/images/car-2.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
}

/* Features Section */
.features-section .card {
    height: 100%;
    background-color: whitesmoke;
}

.features-section .card-header .icon {
    font-size: 26px;
}

.features-section .card-title {
    font-weight: bold;
    font-size: 18px;
}

.features-section .card-text {
    padding-top: 20px;
    color: #646464;
}